.search-wrapper {
  .input-wrapper {
    width: 100%;
    position: relative;
    .icon {
      position: absolute;
      top: 5px;
      left: 2px;
    }
    input {
      border: 0;
      outline: 0;
      border-radius: 3px;
      width: 100%;
      padding-left: 20px;
      box-sizing: border-box;
      padding: 5px 5px 5px 20px;
    }
    input:focus {
      outline: none;
    }
  }
}
